<article class="question">
		<div class="question-icon tag_{{tag}}">
			<p>?</p>
		</div>

		<button type="button" id="create-comment-button"><img src="/img/speech-bubble.png"></button>

		<div class="question-content">
			<p class="question-author">{{userID}}</p>
			<p class="question-text">
				{{title}}
			</p>
            <p class="question-details">{{text}}</p>
			 
		</div>
	</article>